@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.css";

@import "./components.css";
@import "./dashboard.css";

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";

:root {
    --text: #0F172A;
    --text-light: #F8FAFC;

    --sidebar-bg-main: #0f172b;
    --sidebar-bg-header: #020618;

    --accent-gold: #E59623;
    --accent-green: #043916;
    --accent-navy: #1E2B4B;

    --bg-light: #F8FAFC;
    --bg-dark: #0F172A;
    --bg-muted: #E2E8F0;
}

.datatable-table th {
    @apply
        text-xs
}

.datatable-top {
    display: flex;
    justify-content: space-between;

    @apply
        px-4
        pt-4
        mb-4
        text-sm
}

.datatable-container {
    @apply
        border-t
        border-gray-200
}

.datatable-dropdown {
    @apply
        text-gray-500
}

.datatable-selector {
    @apply 
        border
        border-gray-300
        rounded-md
        p-1
}

.datatable-input {
    @apply
        py-2.5
        pl-8
        pr-4
        border
        border-gray-300
        rounded-lg
}
.datatable-input:focus:active {
    border-color: #94A3B8 !important;
}

.datatable-info {
    color: #6b7280;
    text-align: end;
    @apply
        px-4
        py-3
        text-xs
}

.datatable-empty {
    color: #6b7280;
    text-align: end;
    @apply
        px-4
        text-xs
}