@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "./components.css";
@import "./dashboard.css";

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";

:root {
    --text: #0F172A;
    --text-light: #F8FAFC;

    --sidebar-bg-main: #0f172b;
    --sidebar-bg-header: #020618;

    --accent-gold: #E59623;
    --accent-green: #043916;
    --accent-navy: #1E2B4B;

    --bg-light: #F8FAFC;
    --bg-dark: #0F172A;
    --bg-muted: #E2E8F0;
}