@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.css";

@import "./components.css";
@import "./dashboard.css";
@import "./sidebar.css";

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";

/* @font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
} */

@theme {
  /* Injecting your logo's exact colors */
  --color-brand-gold: #E59623;
  --color-brand-gold-hover: #CB811B;

  /* Use when receiving */
  --color-brand-green: #043916;
  --color-brand-green-hover: #021809;
   
  /* Use when issuing */
  --color-brand-navy: #1E2B4B;
  --color-brand-navy-hover: #141D33;

  --color-brand-dark: #0F172A;
  --color-brand-light: #F8FAFC;
}

:root {
    --text: #0F172A;
    --text-light: #F8FAFC;

    --sidebar-bg-main: #0f172b;
    --sidebar-bg-header: #020618;

    --accent-gold: #E59623;
    --accent-green: #043916;
    --accent-navy: #1E2B4B;

    --bg-light: #F8FAFC;
    --bg-dark: #0F172A;
    --bg-muted: #E2E8F0;
}

* {
    font-family: 'Outfit', 'Verdana', sans-serif;
}

/* UNIVERSALS */
.disabled {
    pointer-events: none !important;
    cursor: default !important;
    
    @apply
        text-gray-200
}

.datatable-table th {
    @apply
        text-xs
}

.datatable-top {
    display: flex;
    justify-content: space-between;

    @apply
        px-4
        pt-4
        mb-4
        text-sm
}

.datatable-container {
    @apply
        border-t
        border-gray-200
}

.datatable-dropdown {
    @apply
        text-gray-500
}

.datatable-selector {
    @apply 
        border
        border-gray-300
        rounded-md
        p-1
}

.datatable-selector:focus {
    border-color: #94A3B8 !important;
    outline: none;
}

.datatable-search {
    @apply
        w-[25%]
}

.datatable-input {
    @apply
        /* py-1.5 */
        /* pl-8 */
        p-2.5
        border
        border-gray-300
        rounded-tl-lg
        rounded-bl-lg
        text-xs
        w-full
}
.datatable-input:focus {
    border-color: #94A3B8 !important;
    outline: none;
}

.datatable-info {
    display: none !important;
    /* color: #6b7280;
    text-align: end;
    @apply
        px-4
        py-3
        text-xs */
}

.datatable-empty {
    color: #6b7280;
    text-align: end;
    @apply
        px-4
        text-xs
}